<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finance South West </title>
  {%  include 'base.html' %}
 {%  include 'nav.html' %}
  </head>
<body>



<!--===========================
	Header with carousel and nav
==============================-->
    <header id="HOME" style="background-position: 10%, -125px;">
	        <div class="section_overlay">

<!--=====================
	Title
=======================-->
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12 text-center" style ="top: -150px;">
	                        <div class="home_text wow fadeInUp animated">
	                        </div>
	                    </div>

	                </div>
	            </div>

	        </div>
	    </section>
    </header>

    <!---
Logos
    --->

    <div class="row">
        <div class="col-md-3">
          <img src="./static/images/aws-logo-large.png" alt="aws logo" style="margin-left:6px;margin-top:17px!important;width:100%;height:74px;margin-top:5px;">

        </div>
        <div class="col-md-3">
          <img src="./static/images/rabbitmq.png" alt="rabbitmq logo" style="margin-left:10px;margin-bottom:10px;width:100%;height:100%;margin-top:5px;">

        </div>
        <div class="col-md-3">
          <img src="./static/images/docker02.png" alt="docker logo" style="margin-left:10px;margin-bottom:10px;width:100%;height:100%;margin-top:5px;">

        </div>
        <div class="col-md-3">
          <img src="./static/images/python.png" alt="python logo" style="margin-left:10px;margin-top:16px!important;width:100%;height:100%;margin-top:5px;">

        </div>
      </div>
	<!--=====================
	Main services
=======================-->
    <section class="mortgages" id="how">
        <div class="container">
		 <div class="row">
       <div class="col-md-12 text-center">
           <div class="">
               <h2>How can we help?</h2>
   <p style="text-align:center;  margin-bottom:60px!important;">We solve your common client document management problems: </p>
   <div class="row">
     <div class="col-md-2">
</div>
       <div class="col-md-4">
           <div class="single_service wow fadeInUp" style="text-align:left;" data-wow-delay="2s">
               <i class="fa fa-check"  aria-hidden="true"> </i>  Work at the speed of thought, but without human errors</br>
               <i class="fa fa-check" aria-hidden="true"> </i>  Automate redundant processes</br>
               <i class="fa fa-check" aria-hidden="true"> </i>  Save space and money</br>
               <i class="fa fa-check" aria-hidden="true"> </i>  Keep all documents and files in one place</br>

           </div>
       </div>
       <div class="col-md-1">
</div>
       <div class="col-md-5">
           <div class="single_service wow fadeInUp" style="text-align:left;" data-wow-delay="2s">
             <i class="fa fa-check" aria-hidden="true"> </i>  Improve customer service</br>
             <i class="fa fa-check" aria-hidden="true"> </i>  Securely share files of any size</br>
             <i class="fa fa-check" aria-hidden="true"> </i>  Control access and track files</br>
             <i class="fa fa-check" aria-hidden="true"> </i>  Fast track document turnarounds</br>

           </div>
       </div>

       </div>
           </div>
       </div>
		 </div>

            </div>
        </div>
    </section>



    <!--=====================
    	PROTECTION
    =======================-->




            <section class="features" id="features">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="">
                              <h2>Features</h2>
                              <p style="text-align:center;  margin-bottom:30px!important;">We know how tiring and time consuming manual document requesting and handling can be: making lists of required documents, sending emails back and forth, human errror
                                 and keeping track of documents.
                                  We engineered Opti-Doc to let you start requesting, uploading and accepting documents in minutes.
                        .</p>

                        <img src="./static/images/zigzag.png" alt="zigzag" style="margin-left:6px;width:70px;height:20px;margin-bottom:30px;">
</br>
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="single_service wow fadeInUp"  data-wow-delay="1s">
                              <i class="fa fa-users" aria-hidden="true"></i>
                              <h3>User Management </h3>
                              Opti-doc gives you the ability to create, accept and close client accounts; giving you the flexability to manage who your clients are and how much storage is being used.
                            </br> </br> <a href="#"> Find out more</a>
                          </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="single_service wow fadeInUp" data-wow-delay="2s">
                            <i class="fa  fa-cloud-upload" aria-hidden="true"></i>
                                <h3>Secure Uploads</h3>
                                Opti-doc encrypts documents before uploading and used Amazon S3's encryption keys to ensure they are secure for your company.
                              </br> </br></br>  <a href="#"> Find out more</a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="single_service wow fadeInUp" data-wow-delay="3s">
                          <i class="fa fa-comments" aria-hidden="true"></i>
                                <h3>Chat Messaging</h3>
                                Use Opti-docs built in messaging service to communicate with clients to limit errors and communication issues.
                            </br>  </br></br>  <a href="#"> Find out more</a>
                            </div>
                        </div>

                        <div class="col-md-3 text-center">
                            <div class="single_service wow fadeInUp" data-wow-delay="3s">
                          <i class="fa fa-exclamation" aria-hidden="true"></i>
                                <h3>Email Notifications</h3>
                                 Opti-doc will send email notifications to inform your clients of any changes made to their account to ensure they don't miss out on anything.
                            </br></br></br>    <a href="#"> Find out more</a>
                            </div>
                        </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </section>


</br>
<!--=====================
big diamond thing


    <section class="testimonial text-center wow fadeInUp animated" style="margin-top:-30px!important;"id="TESTIMONIAL">
        <div class="container">
            <div class="icon">
                <i class="icon-quote"></i>
            </div>

        </div>
    </section> ======================= -->

<!--=====================
Gap to show background pic
=======================-->
    <div class="fun_facts">
    	<section class="header parallax home-parallax page" id="fun_facts" style="background-position: 50% -150px;">
	        <div class="section_overlay">
	            <div class="container-gap">

	            </div>
	        </div>
	    </section>
    </div>


    <!--=====================
        SOLICITORS
    =======================-->


    <section class="prices" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="">
                        <h2>Prices</h2>
                        <p style="text-align:center;  margin-bottom:50px!important;"> Running a business can come with a whole load of finances and costs. Our aim is to supply an affordable service that will allow you to grow your company. </p>

<div class="row">
    <div class="col-md-4 text-center">
        <div class="single_service wow fadeInUp"  data-wow-delay="1s">
          <i class="fa fa-user" aria-hidden="true"></i>
          <h3>Pay per client basis </h3>
          Opti-doc gives you the ability to create, accept and close client accounts; giving you the flexability to manage who your clients are and how much storage is being used.
        </br> </br> <a href="#"> Find out more</a>
      </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="single_service wow fadeInUp" data-wow-delay="2s">
        <i class="fa  fa-credit-card" aria-hidden="true"></i>
            <h3>One off payment</h3>
            Opti-doc encrypts documents before uploading and used Amazon S3's encryption keys to ensure they are secure for your company.
          </br> </br></br>  <a href="#"> Find out more</a>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="single_service wow fadeInUp" data-wow-delay="3s">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <h3>Personal email</h3>
            Use Opti-docs built in messaging service to communicate with clients to limit errors and communication issues.
        </br>  </br></br>  <a href="#"> Find out more</a>
        </div>
    </div>

    </div>
        </div>
    </div>
</div>
</div>

</div>
</section>
                            </div>
                         </div>
                </div>
                </div>

    </section>



 	</br>





    <section class="contact" id="CONTACTUS">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="contact_title  wow fadeInUp animated">
                        <h1>get in touch</h1>
                          <img src="../static/images/zigzag.png" alt="">
                        <p>We have appointments available both during the day and on an evening as we are aware that you have to work too. Providing a friendly and professional service<br/>we will provide you with the best advice for your personal circumstances to ensure that your wishes are carried out.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3  wow fadeInLeft animated">
                    <div class="single_contact_info">
                        <h2>Phone us</h2>
                        <p>01752 -----</p>
                    </div>
                    <div class="single_contact_info">
                        <h2>Email us</h2>
                        <p>info@optidoc.racjacsolutions.co.uk</p>
                    </div>
                </div>
                <div class="col-md-9  wow fadeInRight animated">
                    <form class="contact-form" action="">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Message Texts..."></textarea>
                                <button type="button" class="btn btn-default submit-btn form_submit">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="work-with   wow fadeInUp animated">
                        <h3>looking forward to hearing from you!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>



<!-- =========================
     SCRIPTS
============================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/script.js"></script>




</body>

</html>
