<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Telford &CO</title>
    <!-- Fontz -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,1000' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Fontz -->
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
     <!-- Preloader -->
    <link rel="stylesheet" href="css/preloader.css" type="text/css" media="screen, print"/>
    <!-- css for theme and carousel tings-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.css">
    <!-- Animate CSS-->
    <link rel="stylesheet" href="../static/css/animate.css">
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="../static/css/responsive.css" rel="stylesheet">

        <script src="js/lte-ie7.js"></script>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>



<!--===========================
	Header with carousel and nav
==============================-->
    <header id="HOME" style="background-position: 10%, -125px;">
	        <div class="section_overlay">
	            <nav class="navbar navbar-default navbar-fixed-top">
	              <div class="container">	               
	                <div class="navbar-header">
	                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                  </button>
	                </div>
	              
	                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                  <ul class="nav navbar-nav navbar-right">
	                    <li><a href="#HOME">Home</a></li>
						<li><a href="#ABOUT">About</a></li>
	                    <li><a href="#SERVICE">Calulators</a></li>
	                  </ul>
	                </div>
	              </div>
	            </nav>
<!--=====================
	Title
=======================-->
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-12 text-center" style ="top: -150px;">
	                        <div class="home_text wow fadeInUp animated">
	                            <h2>Telford &CO </h2>
	                            <p>Will Services</p>
	                        </div>
	                    </div>
	                </div>
	            </div>

	        </div>
	    </section>
    </header>
<!--=====================
	ABOUT MOI
=======================-->
    <section class="about_us_area" id="ABOUT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="about_title">
                        <h2>About US</h2>
                        <img src="../static/images/shape.png" alt="">
						<p style="text-align:center; margin-top:-40px!important; margin-bottom:60px!important;">A highly motvated, results driven Software Developer with a strong background in software design, website design and Android application experience. Has extensive experience in the full life cycle of the software design process including requirements, prototyping, proof on conecpt, design, interface implementation, testing and maintenance.</p>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>
<!--=====================
	Main skills
=======================-->
    <section class="services" id="SERVICE">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="1s">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                        <h2>Web Design</h2>

                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="2s">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                        <h2>Development</h2>

                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="3s">
                  <i class="fa fa-android" aria-hidden="true"></i>
                        <h2>Android</h2>

                    </div>
                </div>

                </div>
            </div>
        </div>
    </section>

<!--=====================
big pink diamond thing
=======================-->

    <section class="testimonial text-center wow fadeInUp animated" style="margin-top:-30px!important;"id="TESTIMONIAL">
        <div class="container">
            <div class="icon">
                <i class="icon-quote"></i>
            </div>

        </div>
    </section>

<!--=====================
Gap to show background pic
=======================-->
    <div class="fun_facts">
    	<section class="header parallax home-parallax page" id="fun_facts" style="background-position: 50% -150px;">
	        <div class="section_overlay">
	            <div class="container-gap">

	            </div>
	        </div>
	    </section>
    </div>
<!--=====================
	Work section
=======================-->
    <section class="work_area" id="WORK">
        <div class="container">
		 <div class="work_title  wow fadeInUp animated text-center">
                        <h1 style="text-align:center;">Technical Skills</h1>
                      <img src="../static/images/shape.png"  alt="">
                         </div>
		        <div class="container-exp">
		            <div class="row icons">
                <div class="col-md-4 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="1s">
                      <h3>Languages & Frameworks</h3>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="2s">
                    <h3>Concepts & Methadologies</h3>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="single_service wow fadeInUp" data-wow-delay="3s">
<h3>Databases                </h3>  </div>
                </div>

                </div>

                         <div class="col-md-4  wow fadeInLeft animated"style="text-align:center; color: #f73b56;">


                        <p>C#, Java, PHP, Python, Powershell</p>
                        <p>Flask, Slim</p>
                        <p>JavaScript, XML, JSON, HTML/HTML5, CSS/CSS3</p>

              </div>
                <div class="col-md-4  wow fadeInRight animated" style="text-align:center;color: #f73b56;">


                        <p>Agile, Scrum</p>
                            <p>Git </p>

                        <p>OOA/OOD (Design Patterns, UML) </p>

                </div>
                <div class="col-md-4  wow fadeInRight animated" style="text-align:center;color: #f73b56;">

                        <p>MySQL, PostgreSQL</p>

                        <p>Stored Procedures, Triggers, Normalization</p>

            </div>
          <div class="row">
                <div class="col-md-12 text-center">
                    <div class="work_title  wow fadeInUp animated">
                        <h1>Latest Work</h1>

                        <p>Please feel free to browse through my recent works</p>
                    </div>
                </div>
            </div>
			 
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 wow fadeInLeft animated no_padding">
                    <div class="single_image">
                        <img class="work" src="../static/images/api-php.png" alt="">
                        <div class="image_overlay">
                            <a href="">View Projects</a>
                            <h2>PHP Work</h2>
                           <h4></h4> 
                        </div>
                    </div>
                </div>
                <div class="col-md-3 no_padding wow fadeInUp animated">
                    <div class="single_image">
                        <img class="work" src="../static/images/design.png" alt="">
                        <div class="image_overlay">
                            <a href="">View Projects</a>
                            <h2>Website Design</h2>
                           <h4></h4> 
                        </div>
                    </div>
                </div>
               <div class="col-md-3 no_padding wow fadeInRight animated">
                    <div class="single_image">
                        <img class="work" src="../static/images/android.jpg" alt="">
                        <div class="image_overlay">
                            <a href="">View Projects</a>
                            <h2>Android Applications</h2>
                           <h4></h4> 
                        </div>
                    </div>
                </div>
				 <div class="col-md-3 no_padding wow fadeInRight animated">
                    <div class="single_image">
                        <img class="work" src="../static/images/python.png" alt="">
                        <div class="image_overlay">
                            <a href="">View Projects</a>
                            <h2>Python Work</h2>
                           <h4></h4> 
                        </div>
                    </div>
                </div>
        </div>
    </section>
	</br>
<!--=====================
	Contact section
=======================-->
    <section class="call_to_action">
        <div class="container">
            <div class="row">
                <div class="col-md-8 wow fadeInLeft animated">
                    <div class="left">
                        <h2>LOOKING FOR A SOFTWARE DEVELOPER?</h2>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 wow fadeInRight animated">
                    <div class="baton">
	                    <a href="#CONTACT">
	                        <button type="button" class="btn btn-primary cs-btn">Let's Talk</button>
	                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="CONTACT">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="contact_title  wow fadeInUp animated">
                        <h1>get in touch</h1>
                          <img src="../static/images/shape.png" alt="">
                        <p>I take pride in my work and thrive in an environment presenting new challenges.<br/> Thank you in advance for your time and consideration.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3  wow fadeInLeft animated">
                    <div class="single_contact_info">
                        <h2>Phone me</h2>
                        <p>07584040387</p>
                    </div>
                    <div class="single_contact_info">
                        <h2>Email Me</h2>
                        <p>Rachael.tordoff@hotmail.co.uk</p>
                    </div>
                </div>
                <div class="col-md-9  wow fadeInRight animated">
                    <form class="contact-form" action="">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Message Texts..."></textarea>
                                <button type="button" class="btn btn-default submit-btn form_submit">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="work-with   wow fadeInUp animated">
                        <h3>looking forward to hearing from you!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--=====================
		Footer
=======================-->
<footer>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="footer_logo   wow fadeInUp animated">
                        <img src="../static/images/shape.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center   wow fadeInUp animated">
                    <div class="social">
                        <h2>Follow Me on Here</h2>
                        <ul class="icon_list">
                            <li><a href="https://www.facebook.com/rachael.tordoff"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/profile/view?id=377619341"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- =========================
     SCRIPTS
============================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/script.js"></script>




</body>

</html>
